{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h2>Admin panel</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h3>Users</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Full name</th>
          <th>Email</th>
          <th>Admin</th>
        </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.fullname }}</td>
          <td>{{ user.email }} </td>
          <td>{% if user.is_admin %}<i class="fa fa-check"></i>{% endif %}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <a href="/signup" class="btn btn-primary">New user</a>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h3>Data store</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="bs-component">
      <form class="form-horizontal" method="POST" action="/import">
        <fieldset>
          <div class="form-group">
            <label for="inputPathTemplate" class="col-lg-2 control-label">Path template</label>
            <div class="col-lg-10">
              <input type="text" id="inputPathTemplate" name="template" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" class="btn btn-primary">Import</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}
