{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h2><a href="{{ url_for('profile', name=user.name) }}">{{ user.name }}</a> / bookmarks</h2>
    </div>
  </div>
</div>
{% for bookmark in bookmarks %}
<div class="row dataset-pad" v-for="item in bookmarked_datasets">
  <div class="col-sm-1">
    {% if bookmark.dataset.has_thumbnail %}
    <img class="img-responsive" width="64" height="64" src="{{ url_for("show_dataset", user=bookmark.dataset.permissions[0].owner.name, dataset=bookmark.dataset.name, path='.thumb.jpg') }}"/>
    {% elif thumbnail_service %}
    <img class="img-responsive" src="{{ thumbnail_service.url }}/{{ bookmark.dataset.permissions.owner.name}}/{{ bookmark.dataset.name}}?size=64&token={{ current_user.token }}"/>
    {% else %}
    <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=%C3%97&w=64&h=64"/>
    {% endif %}
  </div>
  <div class="col-sm-11">
    <h3 class="dataset-link">
      <a href="{{ url_for("show_dataset", user=bookmark.dataset.permissions.owner.name, dataset=bookmark.dataset.name) }}">{{ bookmark.dataset.name }}</a>
    </h3>
  </div>
</div>
{% endfor %}
{% endblock %}
