{% set page_title = user.name %}
{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h2>Profile</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p><img src="https://www.gravatar.com/avatar/{{ user.gravatar }}?s=140"/ class="img-circle"><p/>
    <p><strong>{{ user.fullname }}</strong></p>
    <p><i class="fa fa-user" aria-hidden="true"></i> {{ user.name }}<p/>
    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
  </div>
  <div class="col-md-8">
    {% for collection in pagination.items %}
    <div class="row dataset-pad">
      <div class="col-lg-1">
        <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=%C3%97&w=64&h=64"/>
      </div>
      <div class="col-lg-11">
        <h3 class="dataset-link">
          <a href="{{ url_for("profile", name=user.name) }}">{{ user.name }}</a>
          / <a href="{{ url_for("show_collection", name=user.name, collection_name=collection.name) }}">{{ collection.name }}</a>
        </h3>
        <p>
        {% if collection.description %}
          {{ collection.description }}
        {% endif %}
        </p>
      </div>
    </div>
    {% endfor %}
  {% if pagination.pages > 1 %}
  <div class="col-lg-12">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
            <li><a href="{{ url_for("profile", name=user.name, page=page) }}">{{ page }}</a></li>
            {% else %}
            <li class="active"><a href="#">{{ page }}</a></li>
            {% endif %}
          {% else %}
            <li class="disabled"><span class="ellipsis">…</span></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
  {% endif %}
  </div>
</div>
{% if user == current_user %}
<div class="row">
  <div class="col-lg-12">
    <h3>Token</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    {% if not current_user.token %}
    <a href="{{ url_for("generate_token") }}" type="button" class="btn btn-primary">Generate</a>
    {% else %}
    <p>Use <strong>{{ current_user.token }}</strong> for authentication.</p>
    <p><a href="{{ url_for("revoke_token") }}" type="button" class="btn btn-default">Revoke</a></p>
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
