{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h2>Datasets</h2>
    </div>
  </div>
</div>
{% for permission in pagination.items %}
<div class="row dataset-pad">
  <div class="col-sm-1">
    {% if permission.dataset.has_thumbnail %}
    <img class="img-responsive" width="64" height="64" src="{{ url_for("show_dataset", name=collection.user.name, collection_name=collection.name, dataset_name=permission.dataset.name, path='.thumb.jpg') }}"/>
    {% else %}
    <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=%C3%97&w=64&h=64"/>
    {% endif %}
  </div>
  <div class="col-sm-11">
    <h3 class="dataset-link">
      <a href="{{ url_for("profile", name=permission.owner.name) }}">{{ permission.owner.name }}</a> /
      <a href="{{ url_for("show_collection", name=permission.owner.name, collection_name=permission.dataset.collection.name) }}">{{ permission.dataset.collection.name }}</a> /
      <a href="{{ url_for("show_dataset", name=permission.owner.name, collection_name=permission.dataset.collection.name, dataset_name=permission.dataset.name) }}">{{ permission.dataset.name }}</a>
    </h3>
    <p>
    {% if permission.dataset.description %}
      {{ permission.dataset.description }}
    {% endif %}
    </p>
  </div>
</div>
{% endfor %}
{% if pagination.pages > 1 %}
<div class="row">
  <div class="col-lg-12">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
            <li><a href="{{ url_for("filter", page=page, **search_terms) }}">{{ page }}</a></li>
            {% else %}
            <li class="active"><a href="#">{{ page }}</a></li>
            {% endif %}
          {% else %}
            <li class="disabled"><span class="ellipsis">…</span></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
{% endif %}
{% endblock %}
