{% set title = 'Collections' %}
{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-lg-8">
    <h3>Welcome to Nova, {{ user.name }}</h3>
  </div>
  <div class="col-lg-4">
    <p><a class="btn btn-primary" href="{{ url_for("create_collection") }}">New collection</a></p>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <h4>Requests</h4>
    {% for request in requests %}
    {{ request.user.name }} requests <a href="{{ url_for('access_request',
      name=user.name,
      collection_name=request.dataset.collection.name,
      dataset_name=request.dataset.name,
      request_id=request.id) }}">access</a> to
    {% endfor %}
  </div>
</div>
{% endblock %}
