{% set title = 'Collections' %}
{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="page-header">
    <h2>Recent datasets</h2>
  </div>
</div>
{% for dataset in datasets %}
<div class="row">
  <h3 class="dataset-link">
    <a href="{{ url_for("show_collection", collection_name=dataset.collection.name) }}">{{ dataset.collection.name }}</a>
  /
    <a href="{{ url_for("show_dataset", user=current_user.name, dataset=dataset.name) }}">{{ dataset.name }}</a>
  </h3>
</div>
{% endfor %}
{% if requests %}
<div class="row">
  <div class="col-lg-8">
    <h4>Requests</h4>
    {% for request in requests %}
    {{ request.user.name }} requests <a href="{{ url_for('access_request',
      name=user.name,
      collection_name=request.dataset.collection.name,
      dataset_name=request.dataset.name,
      request_id=request.id) }}">access</a> to
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
