{% set title = 'Datasets' %}
{% extends "base/searchbar.html" %}
{% block pagination %}
{% for access in pagination.items %}
<div class="row dataset-pad">
  <div class="col-sm-1">
    {% if access.dataset.has_thumbnail %}
    <img class="img-responsive" width="64" height="64" src="{{ url_for("show_dataset", name=collection.user.name, collection_name=collection.name, dataset_name=access.dataset.name, path='.thumb.jpg') }}"/>
    {% else %}
    <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=%C3%97&w=64&h=64"/>
    {% endif %}
  </div>
  <div class="col-sm-11">
    <h3 class="dataset-link">
      <a href="{{ url_for("profile", name=access.user.name) }}">{{ access.user.name }}</a> /
      <a href="{{ url_for("show_collection", name=access.user.name, collection_name=access.dataset.collection.name) }}">{{ access.dataset.collection.name }}</a> /
      <a href="{{ url_for("show_dataset", name=access.user.name, collection_name=access.dataset.collection.name, dataset_name=access.dataset.name) }}">{{ access.dataset.name }}</a>
    </h3>
    <p>
    {% if access.dataset.description %}
      {{ access.dataset.description }}
    {% endif %}
    </p>
  </div>
</div>
{% endfor %}
{% if pagination.pages > 1 %}
<div class="row">
  <div class="col-lg-12">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        {% for page in pagination.iter_pages() %}
          {% if page %}
            {% if page != pagination.page %}
            <li><a href="{{ url_for("search", page=page, **search_terms) }}">{{ page }}</a></li>
            {% else %}
            <li class="active"><a href="#">{{ page }}</a></li>
            {% endif %}
          {% else %}
            <li class="disabled"><span class="ellipsis">…</span></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
{% endif %}
{% endblock %}
