{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h2>Welcome</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p>Hello {{ user.name }}, follow these steps to start adding datasets from a remote machine.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h3>1. Initialize a dataset</h3>
    </div>
    <p>On the working machine, change to the folder of your dataset and type
    <pre><code>nova init --token youraccesstoken --remote http://localhost:5000</code></pre>
    replacing <code>youraccesstoken</code> with the token found on your profile
    page.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h3>2. Working with your dataset</h3>
    </div>
    <p>You can now work with your data as usual. To synchronize the data
    with the remote machine go to the folder and
    <pre><code>nova push</code></pre></p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h3>3. Closing a dataset</h3>
    </div>
    <p>To prevent further modifications and allow new datasets be derived from
    it, you have to <emph>close</emph> it first. You can do that either from
    the webpage by clicking on the green lock or running 
    <pre><code>nova close</code></pre>
    from the working directory of the dataset.</p>
  </div>
</div>
{% endblock %}
