html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 17px;
  margin-bottom: 40px;
}

table a:not(.btn), .table a:not(.btn) {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.mute {
  opacity: 0.1;
}

.mute:hover {
  opacity: 1.0;
}

.dataset-link {
  margin: 0;
  margin-bottom: 10.5px;
}

.dataset-pad {
  margin-top: 10.5px;
  margin-bottom: 10.5px;
}

.nova-main {
    padding-bottom: 60px;
}

.nova-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    font-size: smaller;
    color: #99979c;
    background-color: #222222;
}

#meta-info div.page-header>h2>div
{
	display:inline-block; 
	margin-right:20px;
}

#reviews {
	margin-bottom:50px;
}

#reviews div.page-header>h2{
	display:inline;
}

#reviews div.page-header>div{
	float:right;
}

.review-item>div>hr {
    width:60%;
    float:left;
}

.ri-time {
	font-style: italic; 
	color:#777; 
	font-size:12px;
}

