html {
  position: relative;
  min-height: 100%;
}

body {
  font-size: 17px;
  margin-bottom: 40px;
}

table a:not(.btn), .table a:not(.btn) {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.mute {
  opacity: 0.1;
}

.mute:hover {
  opacity: 1.0;
}

.dataset-link {
  margin: 0;
  margin-bottom: 10.5px;
}

.dataset-pad {
  margin-top: 10.5px;
  margin-bottom: 10.5px;
}

.dataset-selectable-row {
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 10px;
  background-color: #fff;
}

.dataset-selectable-row:hover {
  background-color: #ececec;
}

.user-link {
  padding-top:5px;
}

.user-link > div > a > i{
  padding-right:5px;
}

.nova-main {
  padding-bottom: 100px;
}

.nova-footer {
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;
  font-size: smaller;
  color: #99979c;
  background-color: #222222;
  z-index:150;
}

.clickable {
  cursor: pointer;
}

.label-icon {
  padding-right: 10px;
}

.label-padding {
  padding-left: 10px;
}

.notification-entry {
  padding: 10px 10px 0px 12px;
}

.nova-textarea {
  width: 100%;
  padding: 5px 8px;
  border: 1px solid #cccccc;
  border-radius: 0;
  color: #333333;
}

#main-notification ul {
  min-width: 320px;
}

#main-search {
  margin-top: 6px;
}

#main-search span.input-group-addon {
  color: #fff;
  background-color: #373737;
  border: none;
}

#main-search input {
  color: #fff;
  background-color: #373737;
  border: none;
}

#main-search input::placeholder {
  color: #ccc;
}

#main-search input:focus {
  box-shadow: none;
}

.review-pad {
  padding: 10px 0;
}

#reviews {
    margin-bottom:50px;
}

#reviews div.page-header>h2{
    display: inline;
}

#reviews div.page-header>div{
    float: right;
}

#review-input {
    margin-top:10px;
    display: table;
    height: 43px;
}

#review-input>div:first-of-type {
    display: table-cell;
    position: relative;
    width: 90%;
    height: 43.4px;
    border: 1px solid #cccccc;
    border-radius: 0;
    overflow: hidden;
}

#review-input>div:first-of-type>textarea {
    width: 88%;
    height: 42px;
    min-height: 42px;
    border: none;
    border-radius: 0;
    font-size: 15px;
    color: #333333;
    padding: 10px 18px;
    resize: none; 
    position: absolute;
}

#review-input>div:nth-of-type(2) {
    display: table-cell;
    width:10%;
    height:44px;
    text-align: right;
    vertical-align: top;
}

#review-input>div:nth-of-type(2)>button {
    width: 80%;
    height: 100%;
}
#rating-stars {
    position: absolute;
    right: 10px;
    margin-top: 5px;
    float: right;
    margin-bottom:0px;
    font-size:22px;
    color: #bbbbbb;
}

#rating-stars.rated {
    color: #333333;
}

#rating-stars i {
    padding: 1px;
}

#review-input p.alert {
    color: #f00;
    font-size: 14px;
    position: absolute;
    right:120px;
    line-height:14px;
    text-align: right;
    vertical-align: center;
}

#review-input button[type='submit'] {
    width: 80px;
}

.search-results {
  position: absolute;
  background-color: #fff;
  width: 700px;
  padding: 6px 20px 12px 20px;
  border: 1px solid #cccccc;
  background: #fff;
  z-index: 9990;
}

.see-more-results a {
  font-size: 20px;
}

.modal-wrapper {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  transition: opacity .3s ease;
}

.modal-container {
  width: 480px;
  margin: auto;
  margin-top:10%;
  padding: 20px 30px;
  background-color: none;
  color: #fff;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-button {
  float: left;
  margin-right:20px;
}

.modal-button>button {
  border: none;
  background: none;
}

.modal-button>button>i {
  margin-right: 5px;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#request-access>div>div {
  margin-top:10px;
}

#request-access-checkboxes label
{
  margin-right:10px;
  font-weight:400;
}
 
#request-access textarea {
  width:100%;
  height: 80px;
}

#access-grant>div>div h3 {
  text-transform: capitalize;
}


#derivation_options input {
  border: none;
  background: none;
  padding:0;
}

#derivation_options input:focus {
  outline: none;
}

#derivation_options td {
  vertical-align: top;
  padding-right: 10px;
}

.fineprint {
  font-size: 10px;
}


.mti-selected {
  display: inline-block;
}

.mti-added{
  margin: 5px;
  margin-left: 0px;
  background-color: lightgray;
  padding: 3px 10px;
  border-radius: 5px;
  display: inline-block;
}

.mti-options {
  width: 100%;
  padding: 5px;
}

.mti-option {
  border-bottom: 1px solid #ddd;
  margin: 4px 0;
}

.mti-add-button {
  float: right;
}

.form-group>label {
  text-align:right;
}

#wave-container {
  position: absolute;
  float:left;
  border: 1px solid #ddd;
  height:512px;
  width: 512px;
  padding:0;
  z-index:100;
}

#loading-wave {
  display: block;
  margin: 156px auto;
}

#wave-controls {
  padding-left: 560px;
  z-index:50;
}

.wave-control>div {
  margin-bottom: 20px;
}

.slider-range-input {
  max-width: 100%;
  width:40px;
  text-align:center;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.ui-slider {
  margin-top: 10px;
}

#box-wireframe-input {
  margin-left: 30px;
  background-color: #fff;
  width: 20px;
  height: 20px;
}
