body {
    font-size: 17px;
}

table a:not(.btn), .table a:not(.btn) {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.mute {
  opacity: 0.1;
}

.mute:hover {
  opacity: 1.0;
}

.dataset-link {
  margin: 0;
  margin-bottom: 10.5px;
}

.dataset-pad {
  margin-top: 10.5px;
  margin-bottom: 10.5px;
}
