{% extends "dataset/header.html" %}
{% block dataset_content %}
<div class="row">
  <div class="col-lg-12">
    <h2>Oops!</h2>
  </div>
</div>
<div class="row" id="request-access">
  <div class="col-lg-12">
    <p>You do not have sufficent privileges to {{ access_name }} {% if
    access_name == 'interact' %} with {% endif %} this dataset.  You can request
    access to this {{ item.type }} by asking the owner of the dataset to let you
    </p>
    <div id="request-access-checkboxes" class="col-lg-12">
        <label><input type="checkbox" v-model="read"/> Read</label>
        <label><input type="checkbox" v-model="interact"/> Interact</label>
        <label><input type="checkbox" v-model="fork"/> Fork</label>
    </div>
    <div class="col-lg-6">
      <textarea v-model="message" placeholder="I would like to request access to {{ item.name }} because ... "></textarea>
    </div>
    <div class="col-lg-12">
      <button class="btn btn-md btn-default" @click="requestAccess">Request Access</button>
    </div>
  </div>
</div>
<script>
  var permissions = {'read': true, 'interact': true, 'fork': true};
  if ('{{ access_name }}' != 'fork') permissions['fork'] = false;
  if ('{{ access_name }}' != 'interact') permissions['interact'] = false;
  var object_type = '{{ item.type }}s';
  var object_id = {{ item.id }};
  var collection_name = '{{ collection.name }}';
  var dataset_name = '{{ dataset.name }}';
  var user_name = '{{ user.name }}';
</script>
<script>System.import('accessrequest.js')</script>
{% endblock %}
