{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h2>Datasets</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    {% if shared %}
    <div class="alert alert-info">
      <button type="button"class="close" data-dismiss="alert" aria-label="Close">&times;</button>
      {{ shared | join(', ', attribute='name') }} has been shared with you.
    </div>
    {% endif %}
    {% if result %}
    <table class="table table-hover">
      <thead>
        <td>Name</td>
        <td>Created</td>
        <td></td>
      </thead>
    {% for dataset, access in result %}
      <tr>
        <td><a href="/detail/{{ dataset.id }}">{{ dataset.name }}</a></td>
        <td>{{ dataset.created | naturaltime }}</td>
        <td>
          <div class="btn-group-xs" role="group">
            {% if dataset.closed %}
            <a href="/open/{{ dataset.id }}" type="button" class="btn btn-default" title="Open dataset"><i class="fa fa-lock"></i></a>
            {% else %}
            <a href="/close/{{ dataset.id }}" type="button" class="btn btn-success" title="Close dataset"><i class="fa fa-unlock-alt"></i></a>
            {% endif %}
            <a href="/download/{{ dataset.id }}" type="button" class="btn btn-default" title="Download"><i class="fa fa-download"></i></a>
            <a href="/share/{{ dataset.id }}" type="button" class="btn btn-default" title="Share"><i class="fa fa-share-alt"></i></a>
            {% if access.writable %}
            <a href="/process/{{ dataset.id }}" type="button" class="btn btn-default" title="Process"><i class="fa fa-cogs"></i></a>
            <a href="/delete/{{ dataset.id }}" type="button" class="btn btn-danger" title="Delete"><i class="fa fa-trash"></i></a>
            {% endif %}
          </div>
        </td>
      </tr>
    {% endfor %}
    </table>
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <a href="/create" type="button" class="btn btn-primary">New dataset</a>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="page-header">
      <h2>Statistics</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p>You are using {{ total_size | naturalsize }} in {{ num_files }} files spanning {{ datasets|length
    }} datasets.</p>
  </div>
</div>

{% endblock %}
