<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='bootswatch-dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" style="text/css" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/font-awesome.min.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png" />
    <title>{% if page_title %}{{ page_title }}{% else %}NOVA{% endif %}</title>
  </head>
  <body>
    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask" v-show="show">
          <div class="modal-wrapper">
            <div class="modal-container">
              <div class="modal-title"><slot name="modal-title"></slot></div>
              <div class="modal-body"><slot name="modal-body"></slot></div>
              <div class="modal-options"><slot name="modal-options"></slot></div>
            </div>
          </div>
        </div>
      </transition>
    </script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <script src="{{ url_for('static', filename='lodash/dist/lodash.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootswatch-dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='system.js/dist/system.js') }}"></script>
    <script>System.config({baseURL: '{{ url_for("static", filename='js') }}'});</script>
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>
    <div id="body">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/nova-logo.svg') }}" height="100%"></a>
        </div>
        {% if current_user.is_authenticated %}
        <div id="main-search" class="col-lg-6 col-lg-offset-1">
          <div class="input-group">
            <input name="searchquery" class="form-control" type="search"
                   autocomplete="off" placeholder="Search"
                   v-model="search_query"
                   @keydown.enter.prevent="showFullResults"
                   @keydown.esc.prevent="clearQuery"></input>
            <span class="input-group-addon"
                  :class="{ clickable: show_results }"
                  @click="clearQuery">
              <i class="fa"
                 :class="{ 'fa-search': !show_results, 'fa-times': show_results }"></i>
            </span>
          </div>
          <div class="search-results"
               v-if="show_results"
               v-click-outside="clearQuery">
            <div class="row dataset-selectable-row clickable"
                 v-for="item in search_results"
                 @click="showDataset(item)">
              <div class="col-sm-1">
                <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=%C3%97&w=64&h=64"/>
              </div>
              <div class="col-sm-11">
                <h3 class="dataset-link">
                  {% raw %}
                  <a :href="item.owner_url">{{ item.owner }}</a> /
                  <a :href="item.collection_url">{{ item.collection }}</a> /
                  <a :href="item.url">{{ item.name }}</a>
                  {% endraw %}
                </h3>
              </div>
            </div>
            <div class="row dataset-pad">
              <div class="col-lg-12">
                <a class="clickable" @click="showFullResults()">Show all results …</a>
              </div>
            </div>
          </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="main-notification" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa" :class="{ 'fa-bell-o': notifications.length == 0, 'fa-bell': notifications.length > 0}"></i>
              {% raw %}<span class="badge" v-if="notifications.length > 0">{{ notifications.length }}</span>{% endraw %}
            </a>
            <ul class="dropdown-menu" v-if="notifications.length > 0">
              <li class="notification-entry" is="notification-item" v-for="notification in notifications"
                  @dismiss="dismissNotification" :notification="notification">
                <hr>
              </li>
              <li class="divider" role="separator"></li>
              <li><button class="btn btn-primary btn-sm" @click="dismissAllNotifications">Clear all</button></li>
            </ul>
          </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <img src="https://www.gravatar.com/avatar/{{ current_user.gravatar }}?s=24"/>&nbsp; {{ current_user.name }} &nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></a>
          <ul id="main-menu" class="dropdown-menu">
            <li><a href="{{ url_for("profile", name=current_user.name) }}">
              <i class="fa fa-user fa-fw"></i><span class="label-padding">Profile</span></a>
            </li>
            <li><a href="{{ url_for("list_bookmarks", name=current_user.name) }}">
              <i class="fa fa-bookmark fa-fw"></i><span class="label-padding">Bookmarks</a></span>
            </li>
            {% if current_user.is_admin %}
            <li><a href="{{ url_for("admin") }}">
              <i class="fa fa-users fa-fw"></i><span class="label-padding">Admin</span></a>
            </li>
            {% endif %}
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for("logout") }}">
              <i class="fa fa-sign-out fa-fw"></i><span class="label-padding">Sign out</span></a>
            </li>
          </ul>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>
    <div class="container nova-main">
    {% block body %}{% endblock %}
    </div>
    <footer class="nova-footer">
      <div class="container">
        <p>NOVA – Network for Online Visualization and Synergistic Analysis of
        Tomographic Data</p>
        <p>A collaboration between Technical University of Darmstadt, University
        of Heidelberg, Karlsruhe Institute of Technology, Helmholtz Center
        Geesthacht, University of Tübingen, University of Jena and University of
        Greifswald.</p>
      </div>
    </footer>
    <script>System.import('search.js')</script>
    </div>
  </body>
</html>
